html {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    position: relative;
}
.headContainer{
    width: 100%;
    height: 200px;
    background-color: brown;
    position: relative;
    float: left;

}
.headCanvas{

    animation: move 5s linear infinite;
    background-image: url("./Img/backImg.png") ;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}
@keyframes move {
    from{
        background-position-x: 1920px;
    }
    to {
        background-position-x: 0;
    }
}
.headTitle{
    width: 20%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    position: absolute;
    margin-left: 40%;
    margin-top: -7%;
    line-height: 40px;
    font-size: 70px;
    font-weight: 900;
    text-shadow: 6px 2px 2px gray;
}
.bodyContainer{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    
    
}
.todayNoteContainer{
    width: 70%;
    height: 100px;
}
.todayNote{
    width: 20%;
    height: 100%;
    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 3;
    margin-left: 10%;
    float: left;
    color: rgb(0, 0, 0);
    border-radius:5% 5% 5% 5%;
}
.todayChart{
    width: 500px;
    height: 100px;
    margin-left: 0.5%;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    float: left;
}
.addListContainer{
    width: 70%;
    height: 50px;
    box-shadow: 5px 5px 5px 5px gray;
}
.addTitle{
    width: 70%;
    height: 90%;
    float: left;
    margin-left: 10%;
}
.addBtn{
    width: 9.4%;
    height: 100%;
    float: left;
    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    border-radius:0% 18% 18% 0%;
}
.addBtn:hover {
    background: rgb(136, 156, 221);
    background: linear-gradient( to bottom, rgb(33, 69, 139), rgba(50, 81, 216, 0.705));
    transition-duration: 3s;
}
.listContainer{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    box-shadow: 5px 5px 5px 5px gray;
}
.ListOption{
    width: 93%;
    height: 50px;
    padding-top: 1%;

}
.allCheck{
    width: 10%;
    height: 100%;
    float: left;
}
.allCheckLabel{
    width: 100px;
    height: 30px;
    float: left;
    /* border-bottom: 1px solid rgb(200, 196, 196); */
    background: white no-repeat left center;
    border-radius: 10% 10% 10% 10%;
    background-size: 30px; 
    text-align: right;
    line-height: 1.8;
    background-image:url("./Icon/icons8-unchecked-checkbox-100.png");
    cursor: pointer;
}
.allCheckLabel:hover {
    background-color: rgb(217, 217, 217);
}
.allCheckInput{
    display: none;
}
input[type=checkbox]:checked + label{
    background-image:url("./Icon/icons8-tick-box-100.png");
}
.seeAllList{
    width: 20%;
    height: 100%;
    float: right;
    margin-right: 1.5%;
}
.seeSelectDateInput{
    cursor: pointer;
}
.seeAllListLabel{
    width: 100px;
    height: 30px;
    float: right;
    border-radius: 10% 10% 10% 10%;
    background: white no-repeat left center;
    background-size: 30px; 
    text-align: right;
    line-height: 1.8;
    background-image:url("./Icon/icons8-unchecked-checkbox-100.png");
    cursor: pointer;
}
.seeAllListLabel:hover {
    background-color: rgb(217, 217, 217);
}
.seeAllListInput{
    display: none;
}
.seeSelectDate{
    width: 17%;
    height: 100%;
    padding-top: 0.3%;
    float: right;
}
.myList{
    width: 90%;
    height: auto;
    list-style: none;
    padding: 0;
    border: 1px solid gray;
}
.clearContainer{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
}
.checkedClear{

    flex-basis: 0%;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 700;
    flex:auto;
}
.checkedClear:hover {
    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    color: whitesmoke;
    transition-duration: 2s;
    flex-grow: 3;
}
.AllClear{
    flex-basis: 0%;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 700;
    flex:auto;
  
}
.AllClear:hover{
    background: rgb(8, 33, 116);
    background: linear-gradient( to bottom, rgb(28, 62, 131), rgba(5, 19, 82, 0.705));
    color: whitesmoke;
    transition-duration: 2s;
    flex-grow: 3;
   
    

}
.footerContainer{
    width: 100%;
    height: 19vh;
    position: relative;
    bottom: 0;
    margin-top: 10%;
    background-color: rgb(0, 0, 0);
}
.newList{

    float: left;
    width: 100%;
    height: 30px;
    position: relative;
    border-bottom: 1px solid rgb(192, 192, 192);

}
.listTitleDiv:hover {
    background: linear-gradient( to bottom, rgb(214, 213, 213), rgb(228, 226, 226));
}
.listDateDiv:hover {
    background: linear-gradient( to bottom, rgb(214, 213, 213), rgb(228, 226, 226));
}
.listInputLabel:hover{
    background-color: rgb(237, 236, 236);
    
}
.listRemoveDiv:hover{
    background-color: rgb(220, 219, 219);
}
.listInputLabel{
    float: left;
    width: 30px;
    height: 100%;
    background-size: 30px;
    background-image:url("./Icon/icons8-unchecked-checkbox-100.png");
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.listInputLabelTrue{
    background-image:url("./Icon/icons8-tick-box-100.png");

}

.listInput{
    display: none;
}
.listTitleDiv{
    width: 70%;
    height: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    float: left;
    margin-left: 3px;
}
.listDateDiv{
    width: 15%;
    float: left;
    font-size: 11px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(193, 190, 190);
    border-right: 1px solid rgb(193, 190, 190);
    cursor: pointer;
}
.listRemoveDiv{
    float: left;
    background-size: 30px; 
    width:30px; 
    height:30px;
    margin-left: 25px;
    background-image:url("./Icon/free-icon-font-trash-3917378.png");
    cursor: pointer;
}
.listTitleDivTrue {
    text-decoration: line-through;
}
.modalDiv{
    height: 120px;
    width: 100%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    float: left;
}
.modalContextDiv{
    width: 100%;
    height: 50px;
    float: left;
    display: none;
    white-space:pre;
    background-color: rgb(223, 221, 218);
}
.modalContextDivOpen{

    display: block;
}
.insertWriteDiv{
    float: left;
    width: 99%;
    height: 50%;
    display: none;
    word-wrap: break-word;
}
.insertWriteDivOpen{
    display: block;
}
.textblock{
    display: block;
}
.modalGuageInput{
    width: 80%;
    margin-left: 10%;
    height: 50px;
    background-color: aqua;
    float: left;
}
.input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    html {
        width: 767px;
    }
    .todayNote{
        width: 100px;
        height: 50px;
        font-size: 15px;
    }
    .headTitle{
        width: 200px;
        top: 110px;
    }
    .todayChart{
        width: 300px;
        height: 50px;
    }
    .listTitleDiv{
        width: 300px;
    }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
    html {
        width: 959px;
    }
    .todayNote{
        width: 100px;
        height: 50px;
        font-size: 15px;
    }
    .headTitle{
        width: 200px;
        top: 110px;
    }
    .todayChart{
        width: 400px;
        height: 50px;
    }
    .listTitleDiv{
        width: 400px;
    }
    
}
@media screen and (min-width: 960px) and (max-width: 1145px) {
    html {
        width: 1145px;
    }
    .todayNote{
        width: 100px;
        height: 50px;
        font-size: 15px;
    }
    .headTitle{
        width: 200px;
        top: 110px;
    }
    .todayChart{
        width: 500px;
        height: 50px;
    }
    .listTitleDiv{
        width: 500px;
    }
    
}
@media screen and (min-width: 1146px) and (max-width: 1430px) {
    html {
        width: 1430px;

    }
    .todayNote{
        width: 100px;
        height: 50px;
        font-size: 15px;
    }
    .headTitle{
        width: 200px;
        top: 110px;
    }
    .todayChart{
        width: 600px;
        height: 50px;
    }
    .listTitleDiv{
        width: 650px;
    }
    
}
@media screen and (min-width: 1431px) and (max-width: 1601px) {
    html {
        width: 1601px;
    }
    .todayNote{
        width: 100px;
        height: 50px;
        font-size: 15px;
    }
    .headTitle{
        width: 200px;
        top: 110px;
    }
    .todayChart{
        width: 750px;
        height: 50px;
    }
    .listTitleDiv{
        width: 740px;
    }
    
}
@media screen and (min-width: 1602px) and (max-width: 1920px) {
    html {
        width: 1920px;

    }
    .todayNote{
        width: 120px;
        height: 80px;
        font-size: 15px;
        line-height: 5;
    }
    .headTitle{
        width: 300px;
        
    }
    .todayChart{
        width: 950px;
        height: 80px;
    }
    .listTitleDiv{
        width: 920px;
    }
    
}
@media screen and (min-width: 1921px) {
    html {
        width: 1921px;

    }
    .todayNote{
        width: 100px;
        height: 50px;
        font-size: 15px;
    }
    .headTitle{
        width: 200px;
        top: 110px;
    }
    .todayChart{
        width: 850px;
        height: 50px;
    }
    .listTitleDiv{
        width: 920px;
    }
    
}